---
import lists from "../config/service-lists.yml";
---

<nav>
    <ul>
        {
            lists.map((list: any) => (
                <li>
                    <a href={"#" + list.id}>{list.title}</a>
                </li>
            ))
        }
    </ul>
</nav>